/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
@font-face {
  font-family: 'Aleo';
  src: url("../fonts/Aleo/Aleo-Regular-webfont.eot");
  src: url("../fonts/Aleo/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Aleo/Aleo-Regular-webfont.woff") format("woff"), url("../fonts/Aleo/Aleo-Regular-webfont.ttf") format("truetype"), url("../fonts/Aleo/Aleo-Regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aleo';
  src: url("Aleo-Italic-webfont.eot");
  src: url("Aleo-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("Aleo-Italic-webfont.woff") format("woff"), url("Aleo-Italic-webfont.ttf") format("truetype"), url("Aleo-Italic-webfont.svg#aleoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Aleo';
  src: url("Aleo-Bold-webfont.eot");
  src: url("Aleo-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("Aleo-Bold-webfont.woff") format("woff"), url("Aleo-Bold-webfont.ttf") format("truetype"), url("Aleo-Bold-webfont.svg#aleobold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url("fonts/AvenirNextLTProRegular.eot");
  src: url("fonts/AvenirNextLTProRegular.eot") format("embedded-opentype"), url("fonts/AvenirNextLTProRegular.woff2") format("woff2"), url("fonts/AvenirNextLTProRegular.woff") format("woff"), url("fonts/AvenirNextLTProRegular.ttf") format("truetype"), url("fonts/AvenirNextLTProRegular.svg#AvenirNextLTProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Avenir Next/AvenirNextLTProBold.eot");
  src: url("../fonts/Avenir Next/AvenirNextLTProBold.eot") format("embedded-opentype"), url("../fonts/Avenir Next/AvenirNextLTProBold.woff2") format("woff2"), url("../fonts/Avenir Next/AvenirNextLTProBold.woff") format("woff"), url("../fonts/Avenir Next/AvenirNextLTProBold.ttf") format("truetype"), url("../fonts/Avenir Next/AvenirNextLTProBold.svg#AvenirNextLTProBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* line 1, ../scss/base/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 9, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 12, ../scss/base/_reset.scss */
body {
  line-height: 1;
}

/* line 15, ../scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 18, ../scss/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 21, ../scss/base/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 24, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../scss/base/_reset.scss */
*:focus {
  outline: 0;
}

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/* line 106, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 3, ../scss/atoms/_typography.scss */
body {
  font-family: "Aleo", "sexay font", Times, serif;
  line-height: 1.45;
  color: #528CA5;
}

/* line 8, ../scss/atoms/_typography.scss */
h2, h3, h4 {
  font-family: "Avenir Next", "Casper", "Helvetica", sans-serif;
  text-transform: uppercase;
  color: #1a2e33;
  font-weight: bold;
}

/* line 14, ../scss/atoms/_typography.scss */
h1 {
  font-family: "Aleo", "sexay font", Times, serif;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.5em;
  color: #fff;
}
@media screen and (min-width: 29.75em) {
  /* line 14, ../scss/atoms/_typography.scss */
  h1 {
    font-size: 1.25em;
    line-height: 1.2em;
  }
}

/* line 23, ../scss/atoms/_typography.scss */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  font-family: "Avenir Next", "Casper", "Helvetica", sans-serif;
  font-weight: bold;
  line-height: 1.15em;
}
@media screen and (min-width: 46.8em) {
  /* line 23, ../scss/atoms/_typography.scss */
  h2 {
    font-size: 6em;
    line-height: 1.25em;
  }
}
@media screen and (min-width: 29.75em) and (max-width: 46.8em) {
  /* line 23, ../scss/atoms/_typography.scss */
  h2 {
    font-size: 3em;
    line-height: 1.5em;
  }
}

/* line 35, ../scss/atoms/_typography.scss */
h3, h4 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 38, ../scss/atoms/_typography.scss */
.date, .location {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 41, ../scss/atoms/_typography.scss */
a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/* line 47, ../scss/atoms/_typography.scss */
ul a {
  font-family: "Lato", "Casper", "Helvetica", sans-serif;
  font-weight: bold;
  color: #528CA5;
}

/* line 54, ../scss/atoms/_typography.scss */
ul.mobile-navigation a {
  color: #fff;
}

/* line 58, ../scss/atoms/_typography.scss */
p {
  color: #7F6C5F;
  max-width: 24em;
  margin: auto;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 65, ../scss/atoms/_typography.scss */
.btn {
  font-family: "Avenir Next", "Casper", "Helvetica", sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: bold;
}

/* line 70, ../scss/atoms/_typography.scss */
.hype {
  color: #fff;
}
/* line 72, ../scss/atoms/_typography.scss */
.hype div.hype-number {
  font-family: "Avenir Next", "Casper", "Helvetica", sans-serif;
  font-size: 5em;
  line-height: 1.2em;
}
/* line 76, ../scss/atoms/_typography.scss */
.hype div.hype-label {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 80, ../scss/atoms/_typography.scss */
#date, #location {
  color: #fff;
}

/* line 83, ../scss/atoms/_typography.scss */
.inspiration {
  font-family: "Avenir Next", "Casper", "Helvetica", sans-serif;
  font-weight: bold;
  color: #fff;
}

/* line 1, ../scss/atoms/_button.scss */
.btn {
  background-color: #FF7040;
  border-radius: 4px;
  padding: 18px 28px 13px 28px;
}
@media screen and (min-width: 29.75em) {
  /* line 1, ../scss/atoms/_button.scss */
  .btn {
    padding: 18px 56px 13px 56px;
  }
}

/* line 10, ../scss/atoms/_button.scss */
.btn:hover, .btn:active {
  background-color: #528CA5;
}

/* line 1, ../scss/atoms/_inspiration.scss */
.inspiration {
  background: #FF3F46;
  border-radius: 4px;
  padding-top: 18px;
  padding-bottom: 13px;
  margin-top: 1em;
}

/* line 1, ../scss/molecules/_header.scss */
header {
  background: #CBF2FF;
}

/* line 2, ../scss/molecules/_social.scss */
.social-links li {
  display: inline-block;
  padding: 0 .75em;
}
/* line 5, ../scss/molecules/_social.scss */
.social-links li img {
  height: 1.5em;
  width: 1.5em;
}

/* line 3, ../scss/molecules/_layout.scss */
.wrapper-main {
  text-align: center;
}

/* line 9, ../scss/molecules/_layout.scss */
header ul.social-links {
  margin-top: 0em;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 0em;
}

/* line 13, ../scss/molecules/_layout.scss */
.header-top {
  *zoom: 1;
  *zoom: 1;
  width: auto;
  max-width: 48em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 344, ../scss/jeet/_grid.scss */
.header-top:before, .header-top:after {
  content: '';
  display: table;
}
/* line 349, ../scss/jeet/_grid.scss */
.header-top:after {
  clear: both;
}
/* line 344, ../scss/jeet/_grid.scss */
.header-top:before, .header-top:after {
  content: '';
  display: table;
}
/* line 349, ../scss/jeet/_grid.scss */
.header-top:after {
  clear: both;
}
@media screen and (min-width: 29.75em) {
  /* line 13, ../scss/molecules/_layout.scss */
  .header-top {
    margin-top: 0em;
    padding-top: 3em;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
}
/* line 19, ../scss/molecules/_layout.scss */
.header-top div.name {
  float: left;
  text-align: left;
}
@media screen and (min-width: 29.75em) {
  /* line 19, ../scss/molecules/_layout.scss */
  .header-top div.name {
    margin-top: 0em;
    padding-top: 1.5em;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
}

/* line 28, ../scss/molecules/_layout.scss */
nav {
  list-style-type: none;
}
@media screen and (min-width: 29.75em) {
  /* line 28, ../scss/molecules/_layout.scss */
  nav {
    float: right;
    margin-top: 0em;
    padding-top: 1.5em;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
}
/* line 33, ../scss/molecules/_layout.scss */
nav .menu img {
  float: right;
  height: 3em;
  width: 3em;
}
@media screen and (min-width: 29.75em) {
  /* line 33, ../scss/molecules/_layout.scss */
  nav .menu img {
    display: none;
  }
}
/* line 43, ../scss/molecules/_layout.scss */
nav ul.mobile-navigation {
  display: block;
  background: #FF7040;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 265, ../scss/jeet/_grid.scss */
nav ul.mobile-navigation:first-child {
  margin-left: auto;
}
/* line 269, ../scss/jeet/_grid.scss */
nav ul.mobile-navigation:last-child {
  margin-right: auto;
}
/* line 47, ../scss/molecules/_layout.scss */
nav ul.mobile-navigation li {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 51, ../scss/molecules/_layout.scss */
nav ul.mobile-navigation li:hover, nav ul.mobile-navigation li:active {
  background: #3c6b77;
}
@media screen and (min-width: 29.75em) {
  /* line 43, ../scss/molecules/_layout.scss */
  nav ul.mobile-navigation {
    display: none;
    visibility: hidden;
    height: 0px;
  }
}
/* line 60, ../scss/molecules/_layout.scss */
nav ul.navigation {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
/* line 265, ../scss/jeet/_grid.scss */
nav ul.navigation:first-child {
  margin-left: auto;
}
/* line 269, ../scss/jeet/_grid.scss */
nav ul.navigation:last-child {
  margin-right: auto;
}
@media screen and (min-width: 29.75em) {
  /* line 60, ../scss/molecules/_layout.scss */
  nav ul.navigation {
    display: inline-block;
  }
}
/* line 67, ../scss/molecules/_layout.scss */
nav ul.navigation li {
  margin-left: .5em;
}
@media screen and (min-width: 29.75em) {
  /* line 67, ../scss/molecules/_layout.scss */
  nav ul.navigation li {
    display: inline-block;
  }
}

/* line 75, ../scss/molecules/_layout.scss */
.header-info {
  margin-top: 4em;
}
/* line 77, ../scss/molecules/_layout.scss */
.header-info .logo {
  display: none;
}
@media screen and (min-width: 29.75em) {
  /* line 75, ../scss/molecules/_layout.scss */
  .header-info {
    margin: auto;
    margin-top: 0em;
    padding-top: 5em;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
  /* line 83, ../scss/molecules/_layout.scss */
  .header-info .date, .header-info .location {
    display: inline-block;
  }
  /* line 86, ../scss/molecules/_layout.scss */
  .header-info .logo {
    display: inline-block;
    margin: 2em;
  }
  /* line 89, ../scss/molecules/_layout.scss */
  .header-info .logo img {
    height: 50px;
    width: 50px;
  }
}

/* line 96, ../scss/molecules/_layout.scss */
.header-tagline {
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 2.5em;
  margin-bottom: 0em;
  text-align: center;
}

/* line 100, ../scss/molecules/_layout.scss */
.social-links {
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

/* line 103, ../scss/molecules/_layout.scss */
.wrapper {
  margin-top: 0em;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
  margin-bottom: 0em;
}

/* line 107, ../scss/molecules/_layout.scss */
.hype {
  background: #1a2e33;
}

/* line 110, ../scss/molecules/_layout.scss */
.sponsors {
  *zoom: 1;
  width: auto;
  max-width: 48em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2em;
}
/* line 344, ../scss/jeet/_grid.scss */
.sponsors:before, .sponsors:after {
  content: '';
  display: table;
}
/* line 349, ../scss/jeet/_grid.scss */
.sponsors:after {
  clear: both;
}
/* line 113, ../scss/molecules/_layout.scss */
.sponsors li {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 265, ../scss/jeet/_grid.scss */
.sponsors li:first-child {
  margin-left: auto;
}
/* line 269, ../scss/jeet/_grid.scss */
.sponsors li:last-child {
  margin-right: auto;
}
@media (min-width: 29.75em) {
  /* line 113, ../scss/molecules/_layout.scss */
  .sponsors li {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  /* line 344, ../scss/jeet/_grid.scss */
  .sponsors li:before, .sponsors li:after {
    content: '';
    display: table;
  }
  /* line 349, ../scss/jeet/_grid.scss */
  .sponsors li:after {
    clear: both;
  }
  /* line 40, ../scss/jeet/_grid.scss */
  .sponsors li:nth-of-type(3n) {
    margin-right: 3%;
    float: left;
  }
  /* line 44, ../scss/jeet/_grid.scss */
  .sponsors li:nth-of-type(3n + 1) {
    clear: none;
  }
  /* line 50, ../scss/jeet/_grid.scss */
  .sponsors li:nth-of-type(2n) {
    margin-right: 0%;
    float: right;
  }
  /* line 54, ../scss/jeet/_grid.scss */
  .sponsors li:nth-of-type(2n + 1) {
    clear: both;
  }
}
@media (min-width: 48em) {
  /* line 113, ../scss/molecules/_layout.scss */
  .sponsors li {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  /* line 344, ../scss/jeet/_grid.scss */
  .sponsors li:before, .sponsors li:after {
    content: '';
    display: table;
  }
  /* line 349, ../scss/jeet/_grid.scss */
  .sponsors li:after {
    clear: both;
  }
  /* line 40, ../scss/jeet/_grid.scss */
  .sponsors li:nth-of-type(2n) {
    margin-right: 3%;
    float: left;
  }
  /* line 44, ../scss/jeet/_grid.scss */
  .sponsors li:nth-of-type(2n + 1) {
    clear: none;
  }
  /* line 50, ../scss/jeet/_grid.scss */
  .sponsors li:nth-of-type(3n) {
    margin-right: 0%;
    float: right;
  }
  /* line 54, ../scss/jeet/_grid.scss */
  .sponsors li:nth-of-type(3n + 1) {
    clear: both;
  }
}

/* line 123, ../scss/molecules/_layout.scss */
.photos {
  width: 100%;
  overflow: hidden;
  display: none;
}
@media screen and (min-width: 29.75em) {
  /* line 123, ../scss/molecules/_layout.scss */
  .photos {
    display: block;
  }
}

/* line 131, ../scss/molecules/_layout.scss */
.imagine {
  *zoom: 1;
}
/* line 344, ../scss/jeet/_grid.scss */
.imagine:before, .imagine:after {
  content: '';
  display: table;
}
/* line 349, ../scss/jeet/_grid.scss */
.imagine:after {
  clear: both;
}

/* line 134, ../scss/molecules/_layout.scss */
.inspiration-boxes {
  *zoom: 1;
  width: auto;
  max-width: 48em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15em;
  padding-right: 15em;
}
/* line 344, ../scss/jeet/_grid.scss */
.inspiration-boxes:before, .inspiration-boxes:after {
  content: '';
  display: table;
}
/* line 349, ../scss/jeet/_grid.scss */
.inspiration-boxes:after {
  clear: both;
}

/* line 137, ../scss/molecules/_layout.scss */
.inspiration {
  background: #FF3F46;
  border-radius: 4px;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 344, ../scss/jeet/_grid.scss */
.inspiration:before, .inspiration:after {
  content: '';
  display: table;
}
/* line 349, ../scss/jeet/_grid.scss */
.inspiration:after {
  clear: both;
}
/* line 50, ../scss/jeet/_grid.scss */
.inspiration:nth-of-type(3n) {
  margin-right: 0%;
  float: right;
}
/* line 54, ../scss/jeet/_grid.scss */
.inspiration:nth-of-type(3n + 1) {
  clear: both;
}
@media (max-width: 66em) {
  /* line 137, ../scss/molecules/_layout.scss */
  .inspiration {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  /* line 344, ../scss/jeet/_grid.scss */
  .inspiration:before, .inspiration:after {
    content: '';
    display: table;
  }
  /* line 349, ../scss/jeet/_grid.scss */
  .inspiration:after {
    clear: both;
  }
  /* line 40, ../scss/jeet/_grid.scss */
  .inspiration:nth-of-type(3n) {
    margin-right: 3%;
    float: left;
  }
  /* line 44, ../scss/jeet/_grid.scss */
  .inspiration:nth-of-type(3n + 1) {
    clear: none;
  }
  /* line 50, ../scss/jeet/_grid.scss */
  .inspiration:nth-of-type(2n) {
    margin-right: 0%;
    float: right;
  }
  /* line 54, ../scss/jeet/_grid.scss */
  .inspiration:nth-of-type(2n + 1) {
    clear: both;
  }
}
@media (max-width: 48em) {
  /* line 137, ../scss/molecules/_layout.scss */
  .inspiration {
    display: none;
  }
}

/* line 149, ../scss/molecules/_layout.scss */
footer {
  text-align: center;
}
