<!doctype html>
<html class="no-js" lang="">
<!--

////.         ://`   `.`                                                        
  -++.         .:-`   /+.                                                        
  .++-.-::-` `----  -:++:--`  .-:::-.  `.-:::-`   ----`-::-``-:::-`  .---`.-::-` 
  .++/-.-/+/``./++  .:++:--``/+/-.-+/  -/-..:+/.  .-++/-.-+//:.-/+/  .-++/:..:++.
  .++.   `++:  :++   -++.   /+/`   ..     ``.++:   `++-   /+/   -++`  `++:    /+/
  .++.   `++:  :++   -++.   /+/        -//:::++:   `++-   /+/   -++`  `++:    /+/
  .++-  `:+/.  :++`  .++-`` -++-` `.. -++`  .++:   .++:   /+/`  -++.  `++/` `-++-
  .///////:` ./////:  :////` .://///- `:////-:/// ://///` :///- -//// `++/////:. 
                                                                    `.++:.      
                                                                    -/////`     
-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitcamp 2015</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/index.css">
    <!-- <script src="js/vendor/modernizr-2.8.0.min.js"></script> -->
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Add your site or application content here -->
	<div class="wrapper-main">
		<header>
			<div class="header-top">
				<div class="name"><h1>bitcamp</h1></div>
				<nav>
					<a href="#" class="menu" id="menu"><img src="img/hamburger-menu.png"></a>
					<ul class="mobile-navigation" id="mobile-navigation">
						<li><a href="#description">About</a></li>
						<li><a href="#sponsors">Sponsors</a></li>
						<li><a href="#imagine">Manifesto</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<ul class="navigation" id="navigation">
						<li><a href="#description">About</a></li>
						<li><a href="#sponsors">Sponsors</a></li>
						<li><a href="#imagine">Manifesto</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
			</div>
			<div class="header-info">
				<div class="date">April 10-12, 2015</div>
				<div class="logo"><img src="img/logo.svg"/></div>
				<div class="location">College Park, MD</div>
			</div>
			<div class="header-tagline"><h2>IMAGINE<br/> TOMORROW</h2></div>
			<a href="#" class="btn">SIGN UP TODAY</a>	
			<ul class="social-links">
				<li>
					<a href="https://www.facebook.com/bitcmp">
						<img src="img/social/facebook.svg" alt="facebook"/>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/bitcmp">
						<img src="img/social/twitter.svg" alt="twitter"/>
					</a>
				</li>
				<li>
					<a href="http://instagram.com/bitcamp/">
						<img src="img/social/instagram.svg" alt="instagram"/>
					</a>
				</li>
			</ul>
		</header>
		<div class="description wrapper" id="description">
			<h3>About</h3>
			<br/>
			<br/>
			<p>Normcore tattooed ethical, hashtag tousled Thunder mustache Argyle Brewing Company craft beer taxidermy. Mars riboflavin, sartorial lorem ipsum dolorem.</p>
		</div>
		<div class="hype wrapper">
			<div class="hype-number">36</div>
			<div class="hype-label">hours of hacking</div>
		</div>
		<div class="wrapper" id="sponsors">
			<h3>Sponsors</h3>
			<div class="sponsors">
				<ul class="sponsors-lvl1"></ul>
				<ul class="sponsors-lvl2"></ul>
				<ul class="sponsors-lvl3"></ul>
				<ul class="sponsors-lvl4"></ul>
			</div>
			<a href="#" class="btn" >BECOME A SPONSOR</a>
		</div>
		<div class="photos wraper">
			<img src="img/photos/bitcamp1.jpg" alt="awesome photo" class="photo" />
		</div>
		<div class="imagine wrapper" id="imagine">
			<h4>IMAGINE TOMORROW</h4>
			<br/>
			<p>Normcore tattooed ethical, hashtag tousled Thunder mustache Argyle Brewing Company craft beer taxidermy. Mars riboflavin, sartorial lorem ipsum dolorem.</p>
			<div class="inspiration-boxes">
				<div class="inspiration">ATHLETICS</div>
				<div class="inspiration">HEALTH</div>
				<div class="inspiration">ENTERTAINMENT</div>
				<div class="inspiration">FASHION</div>
				<div class="inspiration">MUSIC</div>
				<div class="inspiration">TECHNOLOGY</div>
				<div class="inspiration">ARCHITECTURE</div>
				<div class="inspiration">PSYCHOLOGY</div>
				<div class="inspiration">GAMING</div>
				<div class="inspiration">FOOD</div>
				<div class="inspiration">SCIENCE</div>
				<div class="inspiration">GOVERNMENT</div>
			</div>
		</div>

		<!-- This div is for a compass powered sticky footer -->
		<div id="root_footer"></div>
	</div>

	<footer>
		<div class="copyright">&copy; 2015 Bitcamp</div>	
		<ul class="social-links">
			<li>
				<a href="https://www.facebook.com/bitcmp">
					<img src="img/social/facebook.svg" alt="facebook"/>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/bitcmp">
					<img src="img/social/twitter.svg" alt="twitter"/>
				</a>
			</li>
			<li>
				<a href="http://instagram.com/bitcamp/">
					<img src="img/social/instagram.svg" alt="instagram"/>
				</a>
			</li>
			<li>
				<a href="https://medium.com/bitcampfire-stories">
					<img src="img/social/medium.svg" alt="medium"/>
				</a>
			</li>
			<li>
				<a href="https://github.com/bitcamp">
					<img src="img/social/github.svg" alt="github"/>
				</a>
			</li>
		</ul>
	</footer>

    <script id="sponsorTemplate" type="text/template">
        
            <a href="<%= link %>"><img alt="<%= name %>" src="<%= photo %>" /></a>
        
    </script>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/dist/jquery.min.js"><\/script>')
    </script>
    <script src="js/dist/underscore-min.js"></script>
    <script src="js/dist/backbone-min.js"></script>
    <script src="js/sponsors.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/dist/instafeed.js"></script>
    <script src="js/main.js"></script>

    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-57203187-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
    </script>


</body>

</html>
