$cloud-animation-duration:80s;
.background {
    background-color: $sky-blue;
    width: 100%;
    .cloud-1 {
        display: none;
        @include breakpoint($bp-med) {
            display: block;
            top: 100px;
            -webkit-animation: cloud-1 $cloud-animation-duration;
            animation: cloud-1 $cloud-animation-duration;
        }
    }
    .cloud-2 {
    	display: none;
        @include breakpoint($bp-med) {
            display: block;
            top: 300px;
            -webkit-animation: cloud-2 $cloud-animation-duration;
            animation: cloud-2 $cloud-animation-duration;
        }
    }
    .cloud-1, .cloud-2 {
        position: absolute;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
}
body {
    overflow-x: hidden;
}
