$cloud-animation-duration:80s;
.background {
    background-color: $midnight-blue;
    width: 100%;
    .cloud-1 {
        display: none;
    }
    .cloud-2 {
    	display: none;
    }
}
body {
    overflow-x: hidden;
}
