.wrapper-main {
	text-align: center;
}
header {
	height: 650px;
}
.header-top {
	@include cf();
	padding-top: 2em;
	padding-left: .5em;
	padding-right: .5em;
	max-width: $max-width;
	margin: auto;
	div.name {
		@media screen and (min-width: $bp-med) {
			float: left;
		}
	}
	nav {
		margin-bottom: 0;
		@media screen and (min-width: $bp-med) {
			float: right;
		}
		list-style-type: none;
		ul {
			padding-top: .5em;
		}
		li {
			@media screen and (min-width: $bp-med) {
				display: inline-block;
			}
			margin-left: .5em;
		}
	}
}
.header-info {
	@media screen and (min-width: $bp-med) {
		width: $bp-med;
		margin: auto;
		margin-top: 6em;
		.date, .location {
			display: inline-block;
		}
		.logo {
			display: inline-block;
			margin: 0 2em;
			img {
				height: 50px;
				width: 50px;
			}
		}
	}
}
.header-tagline {
	width: $bp-small-2;
	margin: 1.75em auto;
	text-align: center;
}
.social-links {
	margin: 2em;
}
.wrapper {
	padding-top: 6em;
	padding-bottom: 6em;
}
.description {}
.hype {
	background: $midnight-blue;
}
.sponsors {
	h3 {
		margin-bottom: 3em;
	}
}
.imagine {
	
}
footer {
	text-align: center;
}
