@import "compass/layout/grid-background";
//@include edit();
.wrapper-main {
    text-align: center;
    // > div, header, footer {@include baseline-grid-background();}
    //> div, header, footer {@include grid-background();}
}
.inner {
    @include center(940px);
}
header {
    ul.social-links {
        @include rhythm(0, 2, 2, 0);
    }
}
.header-top {
    @include cf();
    @include center($max-width, .5em);
    div.name {
    	h2{
			@media screen and (min-width: $bp-med-2) {
    			margin-top: 35px;
			}
    		font-size: 24px;
    	}
        @include col(1/6);
    }
}
nav {
	font-size: 18px;
	@media screen and (min-width: $bp-med-2) {
		margin-top: 41px;
	}
	@include col(1/2, $offset: 1/3);
	line-height: 1.2;
    .menu img {
        float: right;	
		float: top;
        height: 3em;
        width: 3em;
        @media screen and (min-width: $bp-med-2) {
            display: none;
        }
    }
    list-style-type: none;
    ul.mobile-navigation {
        display: block;
        background: $bitcamp-orange;
        @include stack();
        li {
            padding-top: 1em;
            padding-bottom: 1em;
        }
        li:hover, li:active {
            background: lighten($midnight-blue, 20%);
        }
        @media screen and (min-width: $bp-med-2) {
            display: none;
            visibility: hidden;
            height: 0px;
        }
    }
    ul.navigation {
    	font-weight: normal;
        @include stack();
        a {
			display: none;
			@media screen and (min-width: $bp-med-2) {
				display: inline-block;
        		@include col(1/4 1/3);
			}
            li {
            	font-weight: normal;
            }
        }
    }
}
/*
.switch {
    display: flex;
    flex-direction: column;
}
*/
.switch {
	@include span(1);
}
.right {
	float: right;
}
.left {
	float: left;
}
.header-info {
	@include cf();
	/*display: flex;*/
	/*justify-content: center;*/
	/*flex-direction: column;*/
	/*order: 2;*/
	@include rhythm(0, 0, 2, 0);
	@media screen and (min-width: $bp-small-2) {
		order: 0;
		margin: auto;
		@include rhythm(0, 2 + 1/3, 0, 0);
		/*flex-direction: row;*/
	}
	.date, .location {
		@include span(1);
		@media screen and (min-width: $bp-small-2) {
			@include rhythm(6/7, 0, 0, 0);
		}
	}
	.date {	
		@media screen and (min-width: $bp-small-2) {
			@include col(1/4, $offset: 1/6);
		}
	}
	.location {	
		@media screen and (min-width: $bp-small-2) {
			@include col(1/4);
		}
	}
	.logo {
		@include span(1);
		@media screen and (min-width: $bp-small-2) {
			display: inline-block;
			@include col(1/6);
			img {
				height: 75px;
				width: 75px;
			}
		}
	}
	
}
.header-tagline {
	@include rhythm(0, 3, 0, 0);
	//display: flex;
	//order: 1;
	//justify-content: center;
	// @include rhythm(0, 1, 1, 0);
	// @media screen and (min-width: $bp-small-2) {
	// 	@include rhythm(0, 2/3, 1, 0);
	// }
	// @media screen and (min-width: $bp-med) {
	// 	@include rhythm(0, 1, 1 + 2/3, 0);
	// }
}
.social-links {
    @include rhythm(0, 1, 2, 0);
}
.wrapper {
	@include rhythm(0, 3, 3, 0);
	p {
		@include col(5/6, $offset: 1/12);
	}
}
.description {}
.hype {
	background: $midnight-blue;
}
.hype-number {
	line-height: .8;
	padding-left: .1em;
}
.hype-label {

}
.sponsors {
    @include rhythm(0, 1, 3, 0);
}
.photos {
    overflow: hidden;
    img {
        @include col(1);
    }
}
.imagine {
    @include cf();
	div.inner {
		padding: 1em;
	}
}
.inspiration-boxes {
    @include rhythm(0, 1, 0, 0);
    @media (max-width: $bp-med-2) {
        display: none;
    }
}
.inspiration {
	@extend .btn;
    background: $flame-red;
    @include col(1/3, $cycle: 3);
    @media (max-width: $bp-med-2) {
        @include col(1/2, $cycle: 2, $uncycle: 3);
    }
	&:hover, &:active {
		background: $flame-red;
	}
}
footer {
    text-align: center;
}
