.btn{
	background-color: $bitcamp-orange;
	border-radius: 4px;
	padding: 18px 28px 13px 28px;
	//@include adjust-font-size-to($font-size-small);
	@media screen and (min-width: $bp-small-2) {
		padding: 18px 56px 13px 56px;
	}
}
.btn:hover, .btn:active {
	background-color: $medium-blue;
}


