	.btn{
	@include transition-duration($duration);
	background-color: $bitcamp-orange;
	border-radius: 4px;
	@include col(2/3, $offset: 1/6);
	@media (min-width: $bp-small-2) {
		@include col(1/2, $offset: 1/4);
	}
	@media (min-width: $bp-med-1) {
		@include column(1/3, $offset: 1/3);
	}
	&.large{
		@include span(1/2, $offset: 1/4);	
	}
	
}
.btn:hover {
	background-color: lighten($bitcamp-orange, 5%);
} 

.btn:active {
	background-color: $medium-blue;
}


