form{
	// jeff used a particular grey color. better not argue with it! :)
border:1px solid #E5D8CE;
border-radius: 4px;	
@include center(465px);
padding: 20px;
}
input{
	border:none;
	&[type="email"]{
	padding-top: 8px;
	padding-bottom: 8px;
	@include column(2/3 3/4);
	text-align: left;
	}
	&[type="submit"]{
		@include column (1/3 3/4);
		background-color: $medium-blue;
		padding: 12px;
		border-radius: 4px;
	}
}