form{
border:1px solid $light-brown;
border-radius: 4px;	
@include center(465px);
padding: 20px;
}
input{
	border:none;
	&[type="email"]{
	padding-top: 8px;
	padding-bottom: 8px;
	// Strange crossbrowser stuff needs gutter = 2.
	@include column(2/3, $gutter:2);
	text-align: left;
	}
	&[type="submit"]{
		-webkit-appearance:none;
		// for fixing it on iphones:4
		@include column (1/3);
		background-color: $medium-blue;
		padding-top: 12px;
		padding-bottom: 12px;
		border-radius: 4px;
	}
}