html {
    font-size: 18px;
}
body {
    font-family: $font-secondary;
    @include font-size(1, medium);
    line-height: 1.45;
    color: $medium-blue;
}
h1 {
    font-family: $font-secondary;
    font-weight: bold;
    @include font-size(1.5);
    color: $white;
}
h2 {
}
h3 {
}
h4 {
}
a {
    @include font-size(1, medium);
    color: $medium-blue;
    font-weight: bold;
    text-decoration: none;
    line-height: 26px;
    margin-top: 26px;
    margin-bottom: 26px;
}
