@include establish-baseline;

body {
    font-family: $font;
    line-height: 1.45;
    color: $medium-blue;
}
h2, h3, h4 {
    font-family: $font-secondary;
    text-transform: uppercase;
    color: $midnight-blue;
    font-weight: bold;
}
h1 { 
    font-family: $font;
    @include adjust-font-size-to($font-size-med);
    color: $white;
}
h2 {
    @include adjust-font-size-to($font-size-med);
    @media screen and (min-width: $bp-med) {
        @include adjust-font-size-to($font-size-large);
    }
    font-weight: 900;
    line-height: 1.15em;
}
h3 {	
}	
h4 {
    @include adjust-font-size-to($font-size-small-2);
}
a {
    color: $white;
    font-weight: bold;
    text-decoration: none;
}
ul {
    a {
	font-weight: normal;
        color: $medium-blue;
    }
}
p {
   color: $dark-brown;
   max-width: $bp-small;
   margin: auto;
   text-align: center;
}
.btn {
    font-family: $font-secondary;
}
#hype {
   //color: $white;
}
#date, #location {
    color: $white;
}
