html {
    font-size: 18px;
}
body {
    font-family: $font;
    @include font-size(1, medium);
    line-height: 1.45;
    color: $medium-blue;
}
h2, h3, h4 {
    font-family: $font-secondary;
    text-transform: uppercase;
    color: $midnight-blue;
    font-weight: bold;
}
h1 { 
    font-family: $font;
    @include font-size(1.5);
    color: $white;
}
h2 {
    @include font-size(4);
}
h3 {	
    @include font-size(.75);
}	
h4 {

}
a {
    @include font-size(1, medium);
    color: $white;
    font-weight: bold;
    text-decoration: none;
}
ul {
    a {
	font-weight: normal;
        color: $medium-blue;
    }
}
p {
   color: $dark-brown;
}
.btn {
    font-family: $font-secondary;
}
#hype {
   //color: $white;
}
#date, #location {
    color: $white;
}
